@import url('https://fonts.googleapis.com/css2?family=Angkor&family=Lobster&family=Madimi+One&display=swap');

body{
    background-color: black;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
}

a{
    text-decoration: none;
    font-size: 18px;
}

h1{
    font-family: "Lobster", sans-serif;
    color: #FF349A;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}

aside{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

span{
    color: #FF349A;
    font-family: "Lobster", sans-serif;
}

p{
    color: white;
    font-size: 25px;
    font-family: "Madimi One", sans-serif;
}

.link{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.links_link{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items:center;
    border: 2px solid rgb(234,40,139);
    width: 330px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 600;
    padding: 7px 0;
    text-decoration: none;
    color: #F6F6F6;
}


li{
    display: inline;
    margin: 30px;
    font-family: "Angkor", serif;
    color: white;
}

#contato{
    border: 5px solid rgb(0,0,0);
    padding: 5px;
    border-radius: 10px;
}

#contato:hover{
    background-color: rgb(238,35,140);
}

main{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

h2{
    font-size: 30px;
    line-height: 0px;
}

form{
    display: flex;
    flex-direction: column;
    width: 70%;
}

form [type="submit"] {  
    height: 50px;
    width: 50%;
    background-color: rgb(255,52,154);
    font-weight: bold;
}

form [type="submit"]:hover {  
    cursor: pointer;
}

input{
    margin-top: 20px;
    height: 20px;
    padding: 15px;
    border-radius: 20px;
    border: none;
    font-size: 15px;
}

.rodape{
    display: flex;
    position: absolute;
    bottom:0%;
    width: 100%;
    justify-content: center;
    max-width: 1200px;
}

@media screen and (max-width: 760px){
    header{
        flex-direction: column;
    }

    main{
        flex-direction: column;
    }

    h2{
        font-size: 38px;
    }

    form{
        margin: 0 auto;
    }
    
    input{
        align-self: center;
    }

    img{
        margin-top: 10px;
    }

    ul{
        text-align: center;
    }
}
